@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}

.containerku {
  height: 100vh;
  width: 100%;

  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=111111&c2=777777&gt=l&gd=dtl
*/
  background: #111111;
  background: linear-gradient(135deg, #111111, #777777);
  animation: color 11s ease-in-out infinite;
}

@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}

.swal-text {
  font-weight: bolder;
  font-size: medium;
}
